<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" node-parameters="-r source-map-support/register -r ./breaker_lib.cjs --trace-warnings" path-to-js-file="lib/cjs/start.js" working-dir="$PROJECT_DIR$">
    <method v="2" />
  </configuration>
</component>